<app-top-bar></app-top-bar>
<div class="breadcrumb-area gray-bg-7">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li class="text-red">Acerca </li>
            </ul>
        </div>
    </div>
</div>

<div class="about-us-area pt-80 pb-80"
    style="background-image: url('../../../../assets/img/fondo2.jpg'); width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 d-flex align-items-center">
                <div class="overview-content-2">
                    <h2>Bienvenidos a Wambú</h2>
                    <p class="peragraph-blog" style="text-align: justify;">
                        ¿Sabias que? Los jugos hechos de frutas naturales son un aporte nutritivo 
                        importante por las propiedades curativas nencesarias para el ser humano.
                        Karla Erazo, propietaria de Wambu, comenta que inició su negocio en un 
                        pequeño puesto y con una licuadora casera en el sector de la 5 de Junio,
                        en el sur de Quito, hace 11 años. Actualmente, esta iniciativa cuenta con
                        un local propio y oferta a sus clientes 138 combinaciones de jugos de frutas.
                        "Nosotros podemos vender desde 250 a 400 jugos de fruta natural diarios".
                        Los Jugos de Wambu también es otra iniciativa que se ha desarrollado para su 
                        clientela, abarca funcionarios del Palacio de Gobierno y del Municipio de Quito.
                        Diariamente, utiliza toronjas, peras, coco , en si frutas naturales.
                        Así también se han desarrollado nuevos emprendimientos para combatir
                        el estrés y la diabetes. Su precios varían entre USD 1.50 a 6.50
                        "Seguí un curso de nutrición en España, que me permitió desarrollar fórmulas 
                        para mejorar el estado físico", comenta su propietaria.                       
                    </p>
                    <p class="peragraph-blog"  style="text-align: justify;">
                        Además ofrecemos varias promociones en todos lo productos. Los precios de
                        <b>Wambú</b> son los precios más accesibles del mercado. <br><br>
                        <img src="assets/img/productos/slider6.jpg" alt="">
                    </p>
                    <div class="overview-btn mt-45">
                        <a class="btn-style-2" style="background-color: #13bdaf !important; color: #fff !important;"
                            href="/productos">Comprar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="overview-img text-center">
                    <a href="#">
                        <img src="assets/img/banner/about-us.jpg" alt="">
                        <!-- <img [src]="urls.conexionImagenes + '/about.jpg'" style="width: 100% !important; border: 1px solid #E8E8E8" onerror="this.onerror == null; this.src = 'assets/img/productos/predeterminado.png'"> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="project-count-area gray-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <span class="ion-ios-briefcase-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count" style="color: #13bdaf;">8</h2>
                        <span>Clientes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <span class="ion-ios-wineglass-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count" style="color: #13bdaf;">115</h2>
                        <span>Productos</span>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <span class="ion-ios-lightbulb-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count" style="color: #13bdaf;">10</h2>
                        <span>Marcas</span>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <span class="ion-happy-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count" style="color: #13bdaf;">16</h2>
                        <span>Ventas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>